@import "./settings.css";
@import "./header.css";
@import "./slider.css";
@import "./collections.css";
@import "./product.css";
@import "./shop.css";
@import "./categories.css";
@import "./footer.css";